@import '~leaflet/dist/leaflet.css';

.leaflet-popup-content-wrapper {
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    font-size: 20px;

}

.leaflet-popup-tip-container {
}

@media screen and (max-width: 500px) {
    #Panel {
        padding-left: 35px;
        overflow-x: hidden;
    }
}